<% layout('layouts/boilerplate')%>
<div class="container mt-5">

    
        
<div class="row pt-3">
    
   
<% for (let year of totaldatas){ %>
    <h1><strong><%=year.year%>級研究生</strong></h1>
       
    <%  for(let member of year.member){ %>
        <div class="card col-xl-5 col-md-5 col-s-12 col-xs-12  mb-3 mx-md-3 " >
            <div class="row ">
                    <div class="col col-s-6 col-xs-6 mt-3">
                        <img src="<%=member.photo%>" class="img-fluid memberPicture" alt="...">
                    </div>
              <div class="col col-s-6 col-xs-6">
                    <div class="card-body">
                        <h5 class="card-title"><%=member.name%></h5>
                        <p class="card-text"><%=member.title%></p>
                        <p class="card-text">聯絡方式:</p>
                        <p class="card-text"><%=member.contact%></p>
                        <p class="card-text"><small class="text-muted"><%=member.research%></small></p>
                        <p class="card-text"><small class="text-muted"><%=member.researchenglish%></small></p>
                        <p class="card-text"><small class="text-muted"><%=member.researchlink%></small></p>
                    </div>
              </div>
            </div>
          
          
    
        </div>

    <% } %>

<% } %>

  

</div>    



<!-- 
<div class="container">
    <h1><strong>108級研究生</strong></h1>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/su.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:蘇晉威</strong></h5>
                <p class="card-text">資管所碩二</p>
                <p class="card-text">聯絡方式:xx</p>
                <p class="card-text">
                    <small class="text-muted">研究方向:假新聞</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/tinway.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:郭庭瑋</strong></h5>
                <p class="card-text">資管所碩二</p>
                <p class="card-text">聯絡方式:xx</p>
                <p class="card-text">
                    <small class="text-muted">研究方向:假新聞之書目計量學</small>
                </p>
                
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/chaisin.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:張家欣</strong></h5>
                <p class="card-text">資管所碩二</p>
                <p class="card-text">聯絡方式: </p>
                <p class="card-text">
                    <small class="text-muted">研究方向:腦波系統</small>
                </p>
                
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/howdun.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:陳皓惇 </strong></h5>
                <p class="card-text">資管所碩二</p>
                <p class="card-text">聯絡方式: </p>
                <p class="card-text">
                    <small class="text-muted">研究方向:擬人化AI</small>
                </p>
                
            </div>
        </div>
    </div>
</div>

</div>


<div class="container">
    <h1><strong>107級研究生</strong></h1>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/user.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:張佳賢</strong></h5>
                <p class="card-text">108年畢業</p>
                <p class="card-text">
                    <small class="text-muted">研究成果:隱私悖論關聯決策機制之神經科學研究</small>
                    <br>
                    <small class="text-muted">Decision Mechanism Associated with Privacy Paradox: A Neuroscience Study</small>
                    <br>
                    <small class="text-muted">論文連結 : <a href="https://www.airitilibrary.com/Publication/alDetailedMesh?docid=U0004-G0107356020">https://www.airitilibrary.com/Publication/alDetailedMesh?docid=U0004-G0107356020</a></small>
           
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/user.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:張成家</strong></h5>
                <p class="card-text">108年畢業</p>
                <p class="card-text">
                    <small class="text-muted">研究成果:網路拍賣價格哄抬偵測之研究</small>
                    <br>
                    <small class="text-muted">Detection of Shill Bidding in Online Auctions</small>
                    <br>
                    <small class="text-muted">論文連結 : <a href="https://www.airitilibrary.com/Publication/alDetailedMesh?docid=U0004-G0107356028">https://www.airitilibrary.com/Publication/alDetailedMesh?docid=U0004-G0107356028</a></small>
           
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">  
            <img class="img-fluid memberPicture " alt="" src="./pic/user.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> <strong>研究生:徐愛茹</strong></h5>
                <p class="card-text">108年畢業</p>
                <p class="card-text">
                    <small class="text-muted">研究成果:從隱私計算理論探討個人化服務對隱私資訊揭露之影響</small>
                    <br>
                    <small class="text-muted">How Personalized Services Affect Disclosure of Personal Information: A privacy calculus perspective</small>
                    <br>
                    <small class="text-muted">論文連結 : <a href="https://www.airitilibrary.com/Publication/alDetailedMesh?docid=U0004-G0107356029">https://www.airitilibrary.com/Publication/alDetailedMesh?docid=U0004-G0107356029</a></small>
           
                </p>
            </div>
        </div>
    </div>
</div>

</div>
-->





   
    
</div>